<div class="card">
    <div class="card-body">
        <h4 class="box-title">Session List </h4>
    </div>
    <div class="card-body">
        <div id="bootstrap-data-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <table id="usertable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="bootstrap-data-table_info">
                <thead>
                    <tr>
                        <th>Session ID</th>
                        <th>Device Type</th>
                        <th>OS Type</th>
                        <th>IP Address</th>
                        <th>Location</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    each data in session
                        <tr>
                            <td>#{data._id}</td>
                            <td>#{data.device_info.device_type}</td>
                            <td>#{data.device_info.os_type}</td>
                            <td>#{data.ipAddress}</td>
                            <td>#{data.location.coordinates}</td>
                            - var date = new Date(data.createdAt);
                            <td>#{date}</td>
                            <td><button class='openTerminateDialog btn btn-outline-warning' type='button' data-id='#{data._id}' data-toggle='modal'><i class='fa fa-close'></i> Terminate</button></td>
                        </tr>
                    if (session == "")
                        <td colspan="7"><p style='text-align: center; color: black;'>No session found.</p></td>
                <tbody>
            </table>
            if (session != "")
                <button class='openTerminateAllDialog btn btn-outline-danger' type='button' data-id='#{session[0].userId}' data-toggle='modal' style='margin: 10px 0px;'><i class='fa fa-close'></i> Terminate All Session</button>
        </div>
    </div>
</div>

include /modals/user/session_terminate
include /modals/user/session_terminate_all